/* Font Faces */

@font-face {
    font-family: Monoid;
    src: url(./fonts/Monoid/Monoid-Regular.ttf);
}

@font-face {
    font-family: FiraCode;
    src: url(./fonts/Fira_Code_v6.2/ttf/FiraCode-Regular.ttf);
}

/* Layout */

.ch {
    display: flex;
    flex-direction: row;
}

.cv {
    display: flex;
    flex-direction: column;
}

.item {
    flex: 1;
}

.above-right {
    position: absolute;
    top: 0;
    right: 0;
}

/* Shadows & highlights */

.highlight {
    filter: drop-shadow(.1rem .1rem .5rem #fff);
    box-shadow: none;
}

/* Typology */

h1.main-title {
    margin-bottom: 15vh;
}

h3.main-subtitle {
    margin-top: 15vh;
    color: #ff4444;
}

.big {
    font-size: 2em;
}

.small {
    font-size: 0.8em;
}

.bold {
    font-weight: bold;
}

/* Code */

code {
    font-family: FiraCode;
}

code.title {
    color: #61AEEE;
    font-size: 4.5em;
    font-weight: bolder;
}

code.bright {
    color: #dbc191;
}

code.normal {
    color: #A8ACB8;
}

code.type {
    color: #D19A66;
}

pre.wide {
    width: 105%;
    margin: 0px;
}

pre.smaller {
    font-size: 19px !important;
}

pre.center {
    text-align: center;
}

pre.clean {
    box-shadow: none;
}

pre.clean code {
    background-color: transparent;
}

/* Custom fragments */

.fragment.instant {
    transition: all 0s ease;
}

/* PhaserJS */
.game {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
}

/* ThreeJS */
.cube {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
}