/* Variables */

:root {
    --bright-color: #ffec3e;
    --danger-color: #ff3d33;
    --ieee-sign-color: #f4ad70;
    --ieee-exponent-color: #C579DF;
    --ieee-mantissa-color: #5ecbf7;
    --vector-color: #C878E1;
    --x-color: #FF4042;
    --y-color: #42FF40;
    --z-color: #328EEC;
    --gold-color: #f6d569;
    --code-func-color: #61AEEE;
}

/* Font Faces */

@font-face {
    font-family: Monoid;
    src: url(./fonts/Monoid/Monoid-Regular.ttf);
}

@font-face {
    font-family: FiraCode;
    src: url(./fonts/Fira_Code_v6.2/ttf/FiraCode-SemiBold.ttf);
}

/* Layout */

.ch {
    display: flex;
    flex-direction: row;
}

.cv {
    display: flex;
    flex-direction: column;
}

.item {
    flex: 1;
}

.item-wide {
    flex: 2;
}

.abs {
    position: absolute;
    top: 0;
    left: 0;
}

.abs.mid {
    top: 33%;
}

.abs.right {
    right: 0;
    left: unset;
}

/* Backgrounds */

.slide-background.blurred {
    opacity: 0.4 !important;
    filter: blur(10px);
}

.slide-background.scrim::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.slide-background.scrim.grey::before {
    background: linear-gradient(rgba(100, 100, 100, 0.2), rgba(50, 50, 50, 0.5), rgba(100, 100, 100, 0.2));
}

.slide-background.scrim.darkgrey::before {
    background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5));
}

.slide-background.scrim.lightgrey::before {
    background: linear-gradient(rgba(100, 100, 100, 0.2), rgba(100, 100, 100, 0.2), rgba(100, 100, 100, 0.2));
}

.slide-background.scrim.sepia::before {
    background: linear-gradient(rgba(112, 66, 20, 0.4), rgba(112, 66, 20, 0.4), rgba(112, 66, 20, 0.4));
}

.slide-background.scrim.darkblue::before {
    background: linear-gradient(rgba(18, 17, 84, 0.3), rgba(18, 17, 84, 0.3), rgba(18, 17, 84, 0.3));
}

/* Shadows & highlights */

img {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.shadow {
    text-shadow: 1px 1px 2px black;
}

.noshadow {
    box-shadow: none;
}

.highlight {
    filter: drop-shadow(.1rem .1rem .5rem #fff);
    box-shadow: none;
}

.highlight-shadow {
    filter: drop-shadow(.1rem .1rem .5rem #000);
    box-shadow: none;
}

.highlight-gold {
    filter: drop-shadow(.1rem .1rem .5rem var(--gold-color));
    box-shadow: none;
}

h1.main-title {
    margin-top: 0px;
    color: #f5f5f5;
    text-shadow: 0px -2px 4px #fff, 0px -2px 10px #FF3, 0px -10px 20px #F90, 0px -20px 40px #C33;
}

/* Typography */

.smaller {
    font-size: 0.6em;
}

.small {
    font-size: 0.8em;
}

.regular {
    font-size: 1.2em;
}

.medium {
    font-size: 1.4em;
}

.big {
    font-size: 2em;
}

.bigger {
    font-size: 2.4em;
}

.bold {
    font-weight: bold;
}

.text-left {
    text-align: left;
}

.opaque {
    opacity: 1;
}

.semi-trans {
    opacity: 0.3;
}

.muted {
    color: #c3c7d6;
}

.underline {
    text-decoration: underline;
}

span.base-2-7 {
    color: rgb(253, 54, 54);
}

span.base-2-5 {
    color: rgb(233, 95, 49);
}

span.base-2-3 {
    color: rgb(233, 159, 49);
}

span.base-2-1 {
    color: rgb(230, 233, 49);
}

span.ieee-sign {
    color: var(--ieee-sign-color);
}

span.ieee-exponent {
    color: var(--ieee-exponent-color);
}

span.ieee-mantissa {
    color: var(--ieee-mantissa-color);
}

span.ieee-padded {
    padding-right: 536px;
}

span.ieee-exponent-range {
    position: absolute;
    font-size: smaller;
    top: 70px;
    left: 105px;
}

span.ieee-mantissa-range {
    position: absolute;
    font-size: smaller;
    top: 70px;
    left: 310px;
}

span.ieee-mantissa-range-2 {
    position: absolute;
    font-size: smaller;
    top: 90px;
    left: 305px;
}

span.exponent-divided {
    position: absolute;
    top: 430px;
    left: 130px;
}

span.binary-rep-inv {
    padding: 8px;
}

span.binary-rep {
    padding: 5px;
    border: 3px solid var(--bright-color);
}

span.still-log {
    padding: 12px;
    border: 3px solid var(--bright-color);
}

.bright {
    color: var(--bright-color);
}

.danger {
    color: var(--danger-color);
}

.emphas {
    color: #33becd;
}

.address {
    color: rgb(72, 193, 129);
}

.mu {
    color: #D0B17D;
}

.x {
    color: var(--x-color);
}

.y {
    color: var(--y-color);
}

.z {
    color: var(--z-color);
}

.vector {
    color: var(--vector-color);
}

/* Custom position */

div.newton-quote-1 {
    position: absolute;
    top: 50px;
    left: 5px;
}

div.newton-quote-2 {
    position: absolute;
    top: 250px;
    right: 40px;
}

img.abs-center-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
}

img.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img.abs-center-top {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
}

img.abs-center-bottom {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, 100%);
}

img.newtons-tear {
    position: absolute;
    height: 50px;
    top: 200px;
    left: 430px;
}

img.c-logo-cashier {
    position: absolute;
    height: 20%;
    top: 115px;
    right: 325px;
}

img.harold {
    position: absolute;
    top: 50%;
    left: 50%;
}

img.max-head {
    margin: 0px;
    min-width: 100%;
    box-shadow: none;
    border: 2px dashed #606060;
}

img.wtf-cat {
    position: absolute;
    top: 150px;
    left: 20px;
}

img.price-tag {
    position: absolute;
    top: 100px;
    left: 50px;
}

img.price-tag-2 {
    position: absolute;
    top: 50px;
    right: 50px;
}

img.god-rays {
    opacity: 0.3;
    animation: rotate 30s linear infinite;
    box-shadow: none;
    z-index: 0;
}

img.wojak-crying {
    position: absolute;
    right: 45px;
    bottom: 40px;
    transform: rotate3D(0, 1, 0.8, 35deg);
}

div.symbol-table-arrow {
    position: absolute;
    bottom: 75px;
    right: 100px;
    font-weight: bolder;
    font-size: larger;
    font-family: FiraCode;
    color: var(--bright-color);
}

/* Images */

img.round {
    border-radius: 50%;
}

img.m-t-0 {
    margin-top: 0px;
}

img.m-b-0 {
    margin-bottom: 0px;
}

img.avatar {
    border-radius: 50%;
}

/* Videos */

video.motion-canvas {
    box-shadow: 0 0 10px #242424;
}

/* LaTeX */

.math {
    margin-bottom: 10px;
}

.math-pad-log {
    margin-left: 160px;
}

.math-pad-log-stack {
    margin-left: 120px;
}

/* Blockquotes */

blockquote.large {
    width: 90%;
}

/* Code */

code {
    font-family: FiraCode !important;
}

code.title {
    color: #61AEEE;
    font-size: 4.5em;
    font-weight: bolder;
}

code.bright {
    color: var(--bright-color);
}

code.func {
    color: var(--code-func-color);
}

code.normal {
    color: #A8ACB8;
}

code.type,
span.type,
b.type {
    color: #D19A66;
}

code.value {
    color: #90B278;
}

code.ieee-sign {
    background-color: var(--ieee-sign-color);
}

code.ieee-exponent {
    background-color: var(--ieee-exponent-color);
}

code.ieee-mantissa {
    background-color: var(--ieee-mantissa-color);
}

pre.wide {
    width: 105%;
    margin: 0px;
}

pre.smaller {
    font-size: 19px !important;
}

pre.big {
    font-size: 2.0rem !important;
}

pre.center {
    text-align: center;
}

pre.clean {
    box-shadow: none;
}

pre.clean code {
    background-color: transparent;
}

/* Custom fragments */

.reveal .slides section .fragment.instant {
    transition: all 0s ease;
}

.reveal .slides section .fragment.long {
    transition: all 5s ease;
}

/* PhaserJS */
.game {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
}

/* ThreeJS */
.cube {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Animations */

@keyframes rotate {
    0% {
        transform: scale(4) translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: scale(4) translate(-50%, -50%) rotate(360deg);
    }
}